<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QAU自动每日上报信息查看</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.staticaly.com/gh/ialtone/ialtone@master/图床/圆角favicon.3qbl0de8gy00.webp">
    <link rel="stylesheet" type="text/css" href="../static/style.css">  
</head>
<body>
    <p>请将如下信息复制到config.json:</p><br>
    <div class="info"><br>{{config}}</div>
    <br><br><br>
    <p>请将如下信息复制到user.json:</p><br>
    <div class="info"><br>{{user}}</div>
</body>
</html>